.burning
  +bgp('../images/burning/skater.png', contain, right, center)
  position: relative
  &__title
    margin-bottom: 90px
  &__lists
    display: flex
    flex-direction: column
    row-gap: 70px
    margin-bottom: 60px
  &__text
    font-size: 25px
    max-width: 612px
  &__figures
    position: absolute
    right: 200px
    top: 70px
