.skate
  background-color: $sectionBg
  &__top
    margin-bottom: 55px
  &__title
    margin-bottom: 25px
  &__text
    max-width: 962px
  &__box
    display: flex
    justify-content: space-between
    align-items: flex-end
  &__item
    display: flex
    align-items: center
    column-gap: 30px
    &:last-child
      display: block
    &-arrow
      max-width: 30px
      height: 50px

    &-img
      margin-bottom: 20px
    &-text
      font-size: 25px
      text-align: center
