.team
  background-color: $secondary
  &__title
    color: #fff
    margin-bottom: 45px
    span
      color: #000
  &__inner
    width: 1025px
  &__item
    margin-right: 55px
    img
      margin-bottom: 20px
    &-desc
      font-size: 25px
      color: #fff
      margin-bottom: 5px
    &-name
      font-size: 25px
      color: #ffffff
      @extend %inter-600
