.ways
  background-color: $sectionBg
  &__title
    margin-bottom: 85px
  &__inner
    display: flex
    align-items: center
    column-gap: 50px
  &__lists
    display: flex
    flex-direction: column
    row-gap: 70px
    padding-left: 120px
