include ./components/components.pug
doctype html
html(lang="ru")
  include ./modules/head.pug
  body
    .wrapper
      include ./modules/header.pug
      main.main
        //- include ./modules/slide.pug
        //- include ./modules/role.pug
        //- include ./modules/ways.pug
        //- include ./modules/burning.pug
        //- include ./modules/table.pug
        //- include ./modules/skate.pug
        //- include ./modules/roadmap.pug
        //- include ./modules/team.pug
        //- include ./modules/backers.pug
      //- include ./modules/footer.pug
    