section.backers#backers
  .container
    h2.backers__title.title Our Backers and Ambassodors
    .backers__inner.stop
      .backers__item.stop
        img(src="images/backers/1.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/2.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/3.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/3.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/3.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/3.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/3.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/2.png", alt="").stop
      .backers__item.stop
        img(src="images/backers/1.png", alt="").stop  
      
