section.backers#backers
  .container
    h2.backers__title.title Our Backers and Ambassodors
  .backers__inner
    .backers__item
      img(src="images/backers/1.png", alt="")
    .backers__item
      img(src="images/backers/2.png", alt="")
    .backers__item
      img(src="images/backers/3.png", alt="")
    .backers__item
      img(src="images/backers/3.png", alt="")
    .backers__item
      img(src="images/backers/3.png", alt="")
    .backers__item
      img(src="images/backers/3.png", alt="")
    .backers__item
      img(src="images/backers/3.png", alt="")
    .backers__item
      img(src="images/backers/2.png", alt="")
    .backers__item
      img(src="images/backers/1.png", alt="")  
      
