section.burning
  .burning__figures
    img(src="images/burning/figures.png", alt="figures icons")
  .burning__image
    img(src="images/burning/skater-sm.png", alt="")
  .container
    .burning__inner
      h2.burning__title.title.wow.animate__fadeInLeft(data-wow-duration=".5s") <span>Burning</span> SGT&nbsp;and SM
      .burning__lists
        ul.burning__list.list
          li.burning__list-item.list__item SGT:
          li.burning__list-item.list__item 1. Likes
          li.burning__list-item.list__item 2. Skateboard repairs
          li.burning__list-item.list__item 3. Skateboard Upgrade
        ul.burning__list.list
          li.burning__list-item.list__item SM:
          li.burning__list-item.list__item 1. Exchange for SGT
          li.burning__list-item.list__item 2. Skateboard Upgrade
      p.burning__text We&nbsp;charge small taxes on&nbsp;activities within the application, such as&nbsp;NFT-skateboard trading, repairs and upgrade of&nbsp;NFT-skateboards, as&nbsp;well as&nbsp;on&nbsp;advertising. All assets in&nbsp;Slide belong to&nbsp;individuals.