footer.footer#footer
  img(src="images/footer/skater.png", alt="").footer__image
  img(src="images/footer/skater-sm.png", alt="").footer__image--sm
  .container
    .footer__inner
      h2.footer__title.title.wow.animate__fadeInLeft(data-wow-duration=".5s")  Download our <span>App now</span>
      .footer__links
        a.footer__link(href="#")
          img(src="images/footer/1.png", alt="")
        a.footer__link(href="#")
          img(src="images/footer/2.png", alt="")