footer.footer#footer
  img(src="images/footer/skater.png", alt="").footer__image
  .container
    .footer__inner
      h2.footer__title.title Download our <span>App now</span>
      .footer__links
        a.footer__link(href="#")
          img(src="images/footer/1.png", alt="")
        a.footer__link(href="#")
          img(src="images/footer/2.png", alt="")