section.roadmap#roadmap
  .container
    h2.roadmap__title.title <span>Road</span>map
    .roadmap__inner
      .roadmap__item
        .roadmap__item-box
          .roadmap__item-circle
          .roadmap__item-line
        ul.roadmap__item-list
          li.roadmap__item-list-item Q4 2022
          li.roadmap__item-list-item Team Setup
          li.roadmap__item-list-item Project Ideation
          li.roadmap__item-list-item and conception
          li.roadmap__item-list-item Roadmap Upgrade
      .roadmap__item
        ul.roadmap__item-list
          li.roadmap__item-list-item Q1 2023
          li.roadmap__item-list-item Establishment UI & UX
          li.roadmap__item-list-item MVP launch Testing
          li.roadmap__item-list-item trade function
          li.roadmap__item-list-item Pre-seed round
        .roadmap__item-box
          .roadmap__item-circle
          .roadmap__item-line
      .roadmap__item
        .roadmap__item-box
          .roadmap__item-circle
          .roadmap__item-line
        ul.roadmap__item-list
          li.roadmap__item-list-item Q2 2023
          li.roadmap__item-list-item Genesis NFTs Wallet
          li.roadmap__item-list-item uprade NFTs Marketplace
          li.roadmap__item-list-item Attracting Ambassadors
          li.roadmap__item-list-item Seed round
      .roadmap__item
        ul.roadmap__item-list
          li.roadmap__item-list-item *Q3/Q4*
          li.roadmap__item-list-item IDO/IEO 
          li.roadmap__item-list-item Open Beta
        .roadmap__item-box
          .roadmap__item-circle
          .roadmap__item-line
