section.role
  img(src="images/role/skater.png", alt="").role__image
  .container
    .role__inner
      h2.role__title.title.wow.animate__fadeInLeft(data-wow-duration=".5s") <span>The role</span> of SGT&nbsp;and SM
      .role__lists
        ul.role__list.list
          li.role__list-item.list__item SGT:
          li.role__list-item.list__item 1. The ability to «like» content 
          li.role__list-item.list__item 2. Skateboard repairs
          li.role__list-item.list__item 3. Battery charging
          li.role__list-item.list__item 4. Skateboard Upgrade
        ul.role__list
          li.role__list-item.list__item SM:
          li.role__list-item.list__item 1. Content rewards
          li.role__list-item.list__item 2. Skateboard Upgrade
          li.role__list-item.list__item 3. Exchange for SGT

        