section.skate
  .container
    .skate__inner
      .skate__top
        h2.skate__title.title.wow.animate__fadeInLeft(data-wow-duration=".5s") <span>The rarity</span> of&nbsp;the skate
        p.skate__text.wow.animate__fadeInUp(data-wow-duration='.5s') Depending on&nbsp;the rarity of&nbsp;the skateboard, the user can upload<br> <strong>1-3 videos in&nbsp;24&nbsp;hours</strong> provided the batteries are charged.
        p.skate__text.wow.animate__fadeInUp(data-wow-duration='.5s') The user <strong>can increase the rarity</strong> of&nbsp;their skateboard with the help of&nbsp;SGT and&nbsp;SM.
      .skate__box
        .skate__item.standart.wow.animate__backInLeft(data-wow-duration="1s")
          .skate__item-box
            img(src="images/skate/1.png", alt="standart skateboard").skate__item-img
            p.skate__item-text Standard skateboard
          img(src="images/skate/arrow.png", alt="arrow icon").skate__item-arrow
        .skate__item.rare.wow.animate__backInLeft(data-wow-duration="1.5s")
          .skate__item-box
            img(src="images/skate/2.png", alt="rare skateboard").skate__item-img
            p.skate__item-text Rare skateboard
          img(src="images/skate/arrow.png", alt="arrow icon").skate__item-arrow
        .skate__item.epic.wow.animate__backInLeft(data-wow-duration="1.9s")
          img(src="images/skate/3.png", alt="epic skateboard").skate__item-img
          p.skate__item-text Epic skateboard