section.slide
  .container
    .slide__inner
      h2.slide__title.title.wow.animate__fadeInLeft(data-wow-duration='.5s') <span>Slide</span> App
      p.slide__subtitle.wow.animate__fadeInUp(data-wow-duration='1s') is&nbsp;a&nbsp;lifestyle Web3 App with SocialFi and GameFi elements.
      ul.slide__list
        li.slide__list-item
          .slide__list-number
            span 1
            img(src="images/slideapp/1.png", alt="icon NFT")
          p.slide__list-text The user needs to&nbsp;buy an&nbsp;NFT-skateboard.
        li.slide__list-item
          .slide__list-number
            span 4
            img(src="images/slideapp/4.png", alt="icon user follow")
          p.slide__list-text Users follow each other and like videos.
        li.slide__list-item
          .slide__list-number
            span 2
            img(src="images/slideapp/2.png", alt="icon monets")
          p.slide__list-text The user gets an&nbsp;NFT-skateboard, X&nbsp;<strong>SGT game tokens (Slide Gaming Token)</strong> and a&nbsp;charged virtual battery for a&nbsp;video camera.
        li.slide__list-item
          .slide__list-number
            span 5
            img(src="images/slideapp/5.png", alt="icon exchange")
          p.slide__list-text Likes can be&nbsp;exchanged for <strong>SM&nbsp;(Slide Movie)</strong> exchange tokens.
        li.slide__list-item
          .slide__list-number
            span 3
            img(src="images/slideapp/3.png", alt="icon help")
          p.slide__list-text With the help of&nbsp;a&nbsp;charged battery, the user can create skateboarding videos right in&nbsp;the application and upload them to&nbsp;the news feed.
        li.slide__list-item
          .slide__list-number
            span 6
            img(src="images/slideapp/6.png", alt="icon fire")
          p.slide__list-text When a&nbsp;user likes other videos, their game tokens are burned and the battery is&nbsp;charged for new videos.