section.table
  .container
    .table__inner
      .table__tabs
        .table__tab 
          p The role
        .table__tab.active
          p Ways of<br>obtaining
        .table__tab 
          p Burning
      .table__content
        img(src="images/table/1.png", alt="").lightning
        img(src="images/table/eye.png", alt="").eye.animate__animated.animate__pulse.animate__infinite.animate__slower
        img(src="images/table/heart.png", alt="").heart.animate__animated.animate__heartBeat.animate__infinite.animate__slower
        img(src="images/table/like.png", alt="").like.animate__animated.animate__swing.animate__infinite.animate__slower
        img(src="images/table/setting.png", alt="").setting.animate__animated.animate__pulse.animate__infinite.animate__slower
        .table__content-top
          .table__content-title SGT
          .table__content-title SM
        .table__content-lists
          ul.table__content-list
            li.table__content-list-item 
              <span>1.</span> 
              p The ability to «like» content 
            li.table__content-list-item 
              <span>2.</span> 
              p Skateboard repairs
            li.table__content-list-item 
              <span>3.</span> 
              p Battery charging
            li.table__content-list-item 
              <span>5.</span> 
              p Skateboard Upgrade
          ul.table__content-list
            li.table__content-list-item 
              <span>1.</span> 
              p Content rewards
            li.table__content-list-item 
              <span>2.</span> 
              p Skateboard Upgrade
            li.table__content-list-item 
              <span>3.</span> 
              p Exchange for&nbsp;SGT
        .table__content-lists
          ul.table__content-list
            li.table__content-list-item 
              <span>1.</span> 
              p Purchasing a skate<span class='hide-text'>board</span>
            li.table__content-list-item 
              <span>2.</span> 
              p Exchange with SM in&nbsp;the wallet
            li.table__content-list-item 
              <span>3.</span> 
              p Viewing content inside the app
            li.table__content-list-item 
              <span>4.</span> 
              p Remuneration for content moderation
          ul.table__content-list
            li.table__content-list-item 
              <span>1.</span> 
              p Getting likes and&nbsp;sharing in&nbsp;the wallet 
            li.table__content-list-item 
              <span>2.</span> 
              p Purchases on&nbsp;the stock exchange
        .table__content-lists
          ul.table__content-list
            li.table__content-list-item 
              <span>1.</span> 
              p Likes
            li.table__content-list-item 
              <span>2.</span> 
              p Skateboard repairs
            li.table__content-list-item 
              <span>3.</span> 
              p Skateboard Upgrade
          ul.table__content-list
            li.table__content-list-item 
              <span>1.</span> 
              p Exchange for&nbsp;SGT
            li.table__content-list-item 
              <span>2.</span> 
              p Skateboard Upgrade