section.table
  .container
    .table__inner
      .table__tabs
        .table__tab 
          p The role
        .table__tab.active
          p Ways of<br>obtaining
        .table__tab 
          p Burning
      .table__content
        img(src="images/table/1.png", alt="").lightning
        img(src="images/table/eye.png", alt="").eye.setting.animate__animated.animate__pulse.animate__infinite.animate__slower
        img(src="images/table/heart.png", alt="").heart.animate__animated.animate__heartBeat.animate__infinite.animate__slower
        img(src="images/table/like.png", alt="").like.animate__animated.animate__swing.animate__infinite.animate__slower
        img(src="images/table/setting.png", alt="").setting.animate__animated.animate__pulse.animate__infinite.animate__slower
        .table__content-top
          .table__content-title SGT
          .table__content-title SM
        .table__content-lists
          ul.table__content-list
            li.table__content-list-item 1. The ability to «like» content 
            li.table__content-list-item 2. Skateboard repairs
            li.table__content-list-item 3. Battery charging
            li.table__content-list-item 5. Skateboard Upgrade
          ul.table__content-list
            li.table__content-list-item 1. Content rewards
            li.table__content-list-item 2. Skateboard Upgrade
            li.table__content-list-item 3. Exchange for SGT
        .table__content-lists
          ul.table__content-list
            li.table__content-list-item 1. Purchasing a skateboard
            li.table__content-list-item 2. Exchange with SM in the wallet
            li.table__content-list-item 3. Viewing content inside the app
            li.table__content-list-item 4. Remuneration for content moderation
          ul.table__content-list
            li.table__content-list-item 1. Getting likes and sharing in the wallet 
            li.table__content-list-item 2. Purchases on the stock exchange
        .table__content-lists
          ul.table__content-list
            li.table__content-list-item 1. Likes
            li.table__content-list-item 2. Skateboard repairs
            li.table__content-list-item 3. Skateboard Upgrade
          ul.table__content-list
            li.table__content-list-item 1. Exchange for SGT
            li.table__content-list-item 2. Skateboard Upgrade