section.team#team
  .container
    h2.team__title.title.wow.animate__fadeInLeft(data-wow-duration='.5s')  <span>Our</span> team 
    .team__inner
      .team__item
        img(src="images/team/1.png", alt="employee").wow.animate__fadeIn(data-wow-duration="1s")
        p.team__item-desc CEO AND FOUNDER
        p.team__item-name SERG RUDEN
      .team__item
        img(src="images/team/1.png", alt="employee").wow.animate__fadeIn(data-wow-duration="1.7s")
        p.team__item-desc CEO AND FOUNDER
        p.team__item-name SERG RUDEN
      .team__item
        img(src="images/team/1.png", alt="employee").wow.animate__fadeIn(data-wow-duration="1.9s")
        p.team__item-desc CEO AND FOUNDER
        p.team__item-name SERG RUDEN
      .team__item
        img(src="images/team/1.png", alt="employee")
        p.team__item-desc CEO AND FOUNDER
        p.team__item-name SERG RUDEN
      .team__item
        img(src="images/team/1.png", alt="employee")
        p.team__item-desc CEO AND FOUNDER
        p.team__item-name SERG RUDEN
      .team__item
        img(src="images/team/1.png", alt="employee")
        p.team__item-desc CEO AND FOUNDER
        p.team__item-name SERG RUDEN
        
