section.ways
  .ways__inner
    img.ways__image(src="images/ways/skater.png", alt="skater wooman photo")
    .ways__content
      h2.ways__title.title.wow.animate__fadeInRight(data-wow-duration=".5s") Ways <span>to get</span> SGT and SM
      .ways__lists
        ul.ways__list.list
          li.ways__list-item.list__item SGT:
          li.ways__list-item.list__item 1. Purchasing a skate
          li.ways__list-item.list__item 2. Exchange with SM in the wallet
          li.ways__list-item.list__item 3. Viewing content inside the app
          li.ways__list-item.list__item 4. Remuneration for content moderation
        ul.ways__list.list
          li.ways__list-item.list__item SM:
          li.ways__list-item.list__item 1. Getting likes and sharing in the wallet 
          li.ways__list-item.list__item 2. Purchases on the stock exchange
